<div class="row">
  <div class="card">
    <div class="card-header text-center" NG>
      <label for=""> ALTA DE REGISTROS </label>
    </div>
    <div class="card-body">
      <!-- <form [formGroup]="newForm1"> -->
      <div class="row">
        <div class="col-md-6">
          <label for="" class="">Nombre</label>
          <input type="text" [(ngModel)]="newColaborador1.nombre" class="form-control" id="nombre"
            placeholder="Ingrese Nombre">
        </div>
        <div class="col-md-6">
          <label for="" class="">Seleccionar Rol</label>
          <ng-select [(ngModel)]="newColaborador1.id_rol" placeholder="Seleccione una opcion" [items]="selectRoles"
            bindLabel="nombre" bindValue="id"  [clearable]="false"></ng-select>
        </div>
      </div>
      <div class="row py-3" >
        <div class="col-md-4">
          <input type="file" class="form-control"   name="" id="" accept=".pdf,.jpeg,.png" (change)="seleccionarArchivoAV($event)">
        </div>
      </div>
    </div>
    <div class="row py-3" >
      <div class="col-md-5">
        <div *ngIf="this.newColaborador1.doc_index.length > 0">
          <label *ngFor="let item of this.newColaborador1.doc_index">
            {{ item.nombreArchivo }}
          </label>
        </div>
        <!-- </form> -->
      </div>
      <div class="col-py-3,col-md">
        <button type="button" class="btn btn-primary" (click)="setColaborador()">Guardar</button>
      </div>
    </div>
  </div>








  <!-- Modal -->
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md">
            <label for="" class="col-sm-2 col-form-label">Numero</label>
            <input type="number" [(ngModel)]="newUser.Numero" class="form-control" id="nombre"
              placeholder="Ingrese Numero">
          </div>

          <div class="col-md">
            <label for="" class="col-sm-2 col-form-label">Nombre</label>
            <input type="text" [(ngModel)]="newUser.Nombre" class="form-control" id="nombre"
              placeholder="Ingrese Nombre">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <label for="" class="col-sm-2 col-form-label">Descripcion</label>
            <input type="text" [(ngModel)]="newUser.Descripcion" class="form-control" id="Descripcion"
              placeholder="Ingrese Descripcion">
          </div>
          <div class="col-md">
            <label for="" class="col-sm-2 col-form-label">Default</label>
            <input type="number" [(ngModel)]="newUser.Default" class="form-control" id="Default"
              placeholder="Ingrese Default">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->

