<div class="row">
  <div class="card">
    <div class="card-header">
      <div class="col d-md-flex justify-content-md-end">
        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <STROng>{{ userlogiado.nombre }} </STROng> <i class="fa fa-user-circle" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" role="button" (click)="cerrar_Sesion()">
              <i class="fa fa-sign-out" role="button" aria-hidden="true"> Cerrar Sesion</i></a></li>
          <li><a class="dropdown-item" role="button" data-bs-target="#cambiarClave" data-bs-toggle="modal">
              <i class="fa fa-key" aria-hidden="true" role="button" (click)="cambiar_Clave()"> Cambiar
                Contraseña</i></a></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="">
          <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
              <a aria-controls="user" aria-selected="true" class="nav-link {{ visto == true ?activarTable : ''}}"
                data-bs-toggle="tab" href="#user" id="user-tab" role="tab"
                [ngStyle]="{'color': visto == true ? 'red' : ''}" (click)="ver()"> <i class="fa fa-users"
                  aria-hidden="true"></i>
                Colaboradores ({{contUser}})</a>
            </li>


            <li class="nav-item">
              <a aria-controls="listado" aria-selected="true" class="nav-link {{ visto3 == true ?activarTable : ''}}"
                data-bs-toggle="tab" href="#listado" id="listado-tab" role="tab"
                [ngStyle]="{'color': visto3 == true ? 'red' : ''}" (click)="ver3()"> <i class="fa fa-list-ol"
                  aria-hidden="true"></i>
                Listas</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="row py-3">
        <div class="col-md">
          <label for="">COLABORADORES</label>
          <ng-select [(ngModel)]="selectUser" [items]="allCols" bindValue="id" bindLabel="nombre"
            (change)="verListaColaboradores()"></ng-select>
        </div>
        <div class="col-md">
          <label for="">DEPARTAMENTO</label>
          <ng-select [(ngModel)]="selectDepto"></ng-select>

        </div>
        <div class="col-md"></div>
      </div>
      <!-- tabla -->
      <div class="tab-content" id="myTabContent">
        <div aria-labelledby="user-tab" class="tab-pane fade show active" id="user" role="tabpanel">
          <div class="row">
            <div class="col py-2" style="text-align: right;">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nuevo</button>
            </div>
          </div>
          <div class="row">
            <table class="table table-hover">
              <thead style="text-align: center; background-color: rgb(210, 211, 211);">
                <tr style="text-align: left;">
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Departamento</th>
                  <th scope="col" style="text-align: center;">Archivo</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: left; cursor: pointer;" *ngFor="let item of mostrarColaboradores">
                  <td><strong>{{ item.id }}</strong></td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.correo }}</td>
                  <td>{{ item.departamento }}</td>
                  <td style="cursor: pointer;">
                    <ng-select [items]="item.doc_index" (change)="verArchivo(item,$event)"
                      placeholder="Seleccione un archivo" [clearable]="false">
                    </ng-select>
                  </td>
                  <td>
                  </td>
                  <td>
                    <em class="fa fa-pencil-square-o" style="cursor: pointer;" ngbTooltip="Editar"
                    (click)="verUsuarios(item)"></em>
                    <em class="fa fa-trash-o fa-lg" style="cursor: pointer; color: red;" ngbTooltip="Eliminar"></em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div aria-labelledby="listado-tab" class="tab-pane fade show" id="listado" role="tabpanel">
          <div class="row">

            <div class="row">
              <div class="card">
                <div class="card-header text-center">
                  <label for=""> ALTA DE REGISTROS </label>
                </div>
                <div class="card-body">
                  <!-- <form [formGroup]="newForm1"> -->
                  <div class="row">
                    <div class="col-md-5">
                      <div class="col-md-12">
                        <label for="" class="">Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="newLista.nombre" id="nombre1"
                          placeholder="Ingrese Nombre">
                      </div>
                      <div class="col-md-12">
                        <label for="" class="">Numero</label>
                        <input type="number" class="form-control" [(ngModel)]="newLista.numero" id="Numero"
                          placeholder="Ingrese Numero">
                      </div>
                      <div class="col-md-12">
                        <label for="" class="">Equipo</label>
                        <input type="text" class="form-control" [(ngModel)]="newLista.equipo" id="Equipo"
                          placeholder="Ingrese Equipo">
                      </div>
                    </div>
                    <div class="col-md-1">

                    </div>


                    <div class="col-md">
                      <div class="row">
                        <table class="table table-hover  ">
                          <thead style="background-color: bisque">
                            <tr>
                              <th scope="col">Nombre</th>
                              <th scope="col">Numero</th>
                              <th scope="col">Equipo</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of mostrarLista">
                              <td>{{ item.nombre }}</td>
                              <td>{{ item.numero }}</td>
                              <td>{{ item.equipo }}</td>
                              <td>
                                <em class="fa fa-trash-o fa-lg" ngbTooltip="Eliminar"
                                  (click)="elimarElementosListas(item)"></em>
                              </td>
                            </tr>
                            <tr *ngIf="mostrarLista.length==0">
                              <td colspan="5" class="text-center">
                                <label for="">Sin registros</label>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row py-3">
                  <div class="col-py-3,col-md-6">
                    <button type="button" class="btn btn-primary" (click)="addLista()">Agregar</button>
                  </div>
                  <div class="col py-2" style="text-align: right;">
                    <button type="button" class="btn btn-primary" (click)="guardarListas()">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="archivoAdjunto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{ nomUser }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <iframe name="iFrameADJNAFEC" style="height:75vh; width: 100%;" title="iFrame"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>





  <!-- Modal -->


  <div class="modal fade" id="exampleModal" *ngIf="modalColaboradores == true" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Nuevo Colaborador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a aria-controls="info" aria-selected="true" class="nav-link {{ info_C == true ?activarTable : ''}}"
                    data-bs-toggle="tab" href="#info" id="info-tab" role="tab"
                    [ngStyle]="{'color': info_C == true ? 'red' : ''}" (click)="agregarInfo_Colaborador()">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    Información</a>
                </li>
                <li class="nav-item" [hidden]="!activaTab">
                  <a aria-controls="Documentos" aria-selected="true"
                    class="nav-link {{ doc_C == true ?activarTable : ''}}" data-bs-toggle="tab" href="#Documentos"
                    id="Documentos-tab" role="tab" [ngStyle]="{'color': doc_C == true ? 'red' : ''}"
                    (click)="documentos_Colaborador()">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    Documentos</a>
                </li>
              </ul>
            </div>

            <div class="tab-content" id="myTabContent">
              <div aria-labelledby="info-tab" class="tab-pane fade show active" id="info" role="tabpanel">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <label for="" class="col-sm-2 col-form-label">Correo</label>
                      <input type="text" class="form-control" id="Default" placeholder="Ingrese Número"
                        [(ngModel)]="newColaborador1.correo">
                    </div>
                    <div class="col-md">
                      <label for="" class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="input-group">
                      <input [type]="tipoBtnVerClave" class="form-control" id="password" placeholder="Ingrese Contraseña"
                      [(ngModel)]="newColaborador1.password">
                      <button type="button" class="btn btn-secondary" (click)="verClave();"><i class="fa fa-eye"
                        aria-hidden="true"></i></button>
                    </div>

                    </div>
                    <div class="col-md-12">
                      <label for="" class="col-sm-2 col-form-label">Departamento</label>
                      <input type="text" class="form-control" id="departamento" placeholder="Ingrese Departamento"
                        [(ngModel)]="newColaborador1.departamento">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <label for="" class="col-sm-2 col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre2" placeholder="Ingrese Nombre"
                          [(ngModel)]="newColaborador1.nombre">
                      </div>

                      <div class="col-md">
                        <div class="row">
                          <div class="col-md-8 py-3">
                            <label for="" class="">Seleccionar Rol</label>
                            <ng-select [(ngModel)]="newColaborador1.id_rol" placeholder="Seleccione una opción"
                              [items]="selectRoles" bindLabel="nombre" bindValue="id" [clearable]="false">
                            </ng-select>
                          </div>
                          <div class="col md-4 py-4">
                            <button type="button" data-bs-target="#modalAgregarRoles" data-bs-toggle="modal"
                              class="btn btn-link py-4" (click)="modalRoles1()">Nuevo Rol</button>
                          </div>
                        </div>

                        <div class="form-check form-switch">
                          <input class="form-check-input" [(ngModel)]="activaTab" type="checkbox" role="switch"
                            id="checkDoc">
                          <label class="form-check-label" for="flexSwitchCheckChecked">Adjuntar archivos</label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div aria-labelledby="Documentos-tab" class="tab-pane fade show" id="Documentos" role="tabpanel">
                <div class="row ">
                  <div class="row py-3">
                    <div class="col-md-6">
                      <input type="file" class="form-control" name="" id="" accept=".pdf,.jpeg,.png"
                        (change)="seleccionarArchivoAV($event)">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md">
                    <div class="col-md-12">
                      <table class="table table-hover  ">
                        <thead>
                          <tr>
                            <th colspan="2" style="text-align: center; background-color: rgb(210, 211, 211);">Archivos</th>
                          </tr>
                          <tr>
                            <th scope="col" style="text-align: center;"></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="newColaborador1.doc_index.length==0">
                            <td colspan="2" class="text-center">
                              <label for="">Sin registros</label>
                            </td>
                          </tr>
                          <tr *ngFor="let archivo of this.newColaborador1.doc_index">
                            <td colspan="1">{{archivo.nombre}}</td>
                            <td colspan="1">
                              <em class="fa fa-trash-o fa-lg" (click)="elimarArchivosListas(archivo)"
                                style="cursor: pointer;" ngbTooltip="Eliminar"></em>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="setColaborador()">Guardar </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="modal fade" id="modalAgregarRoles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Crear roles</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" ></button> -->
        </div>
        <div class="modal-body ">
          <div class="row">
            <div class="card">
              <div class="card-header text-center">
                <label for=""> Nuevo rol </label>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <label for="" class="col-form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre3" placeholder="Ingrese Nombre">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md">
                    <label for="" class="col-form-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" placeholder="Ingrese Descripción">
                  </div>
                </div>
              </div>
              <div class="col-py-3,col-md"> .

              </div>
              <div class="row py-3"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-target="#exampleModal"
            data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-target="#modalAgregarRoles"
            data-bs-toggle="modal">Crear</button>
        </div>
      </div>
    </div>
  </div>

</div>





<div class="modal fade" id="cambiarClave" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cambiar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <button type="button" class="btn btn-secondary" (click)="verClave();"><i class="fa fa-eye"
                      aria-hidden="true"></i></button>
                  <input [type]="tipoBtnVerClave" class="form-control " [(ngModel)]="pass"
                    placeholder="Ingrese nueva contraseña" aria-label="clave" aria-describedby="basic-addon1">
                  <button type="button" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"
                      (click)=" cambiar_Clave()"> Cambiar </i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
