<!-- <div class="row">
  <div class="card">
    <div  class="card-header text-center"NG >
      <label for="" > ALTA DE REGISTROS </label>
    </div>
    <div class="card-body" >
      <form [formGroup]="newForm1">
        <div class="row">
          <div class="col-md">
            <label for="" class="col-sm-2 col-form-label">Nombre</label>
            <input type="number" formControlName="nombre" [(ngModel)]="newUser.Numero"  class="form-control" id="nombre" placeholder="Ingrese Nombre"
            [ngClass]="{'is-invalid': validaDatos('nombre')}">
          </div>
          <div class="col-md">
            <label for="" class="col-sm-2 col-form-label">Descripcion</label>
            [ngClass]="{'is-invalid': validaDatos('Descripcion')}">
        </div>
        <div class="col-md">
          <label for="" class="col-sm-2 col-form-label">Rol</label>
          [ngClass]="{'is-invalid': validaDatos('Rol')}">
      </div>

        </div>
      </form>

    </div>
    <div class="col-py-3,col-md"> .
      <button type="button" class="btn btn-danger"  routerLink="" *ngIf="idSistema==0"><i class="fa fa-arrow-left" aria-hidden="true" ></i> Regresar</button>
      <button  type="button" class="btn btn-primary" (click)="validaCreacion()">Guardar</button>
    </div>
  </div>



</div> -->
