<div class="row">
  <div class="card">
    <div class="card-header text-center">
      <label for="">LISTADO DE REGISTROS</label>
    </div>
    <div class="card-body">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Número</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Default</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of user">
              <td>{{ item.id }}</td>
              <td>{{ item.Numero }}</td>
              <td>{{ item.Nombre }}</td>
              <td>{{ item.Descripcion }}</td>
              <td>{{ item.Default }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col py-2" style="text-align: right;">
      <button  type="button" class="btn btn-primary" (click)="newUsuario()" >Agregar</button>
    </div>
  </div>
</div>


